torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
alias_free_torch
diffusers
einops
librosa
pandas
PyYAML
soundfile
tqdm
transformers
vector_quantize_pytorch
julius
torch_stoi
flatten-dict
tensorboard
randomname
argbind
sentencepiece
accelerate
scikit-image
ftfy
pydub
einops_exts
gradio